rich
requests
colorama
nimporter
pyyaml
tldextract
fuzzywuzzy
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
cookiecutter>=2.1.1 # not directly required, pinned by Snyk to avoid a vulnerability
pygments>=2.7.4 # not directly required, pinned by Snyk to avoid a vulnerability
